<div class="skill-add-container">
  <input id="skill-search-input" class="autocomplete-input" type="text"
    placeholder="{{localize 'dodexpert.skills.add.placeholder'}}" autofocus />
  <div class="autocomplete-list skill-match-list" id="skill-match-list">

  </div>
  <div class="add-selected-skill" id="add-selected-skill">
  </div>

  <div class="skill-add-buttons">
    <button id="new-skill-button" type="button">{{localize 'dodexpert.skills.add.new'}}</button>
    <button id="add-skill-button" type="button">{{localize 'dodexpert.skills.add.button'}}</button>

  </div>
</div>