<div class="item-add-container">
  <input id="search-input" class="autocomplete-input" type="text"
    placeholder="{{localize 'dodexpert.dialogs.selectitem.placeholder'}}" autofocus />
  <div class="autocomplete-list item-match-list" id="match-list">

  </div>
  <div class="add-selected-item" id="add-selected">
  </div>

  <div class="select-item-buttons">
    <button id="new-button" type="button">{{localize 'dodexpert.dialogs.selectitem.new'}} {{searchString}}...</button>
    <button id="add-button" type="button">{{localize 'dodexpert.dialogs.selectitem.select'}}</button>

  </div>
</div>