<form>
  <div class="skill-check-panel">
    <h1>Färdighetsslag - {{ skillname}}</h1>

    <div class="select-difficulty">
      {{#each difficulties as |difficulty id|}}
      <div class="difficulty" data-mod="{{difficulty.mod}}">
        {{difficulty.name}}<br>
        ({{difficulty.mod}})

      </div>
      {{/each}}
    </div>


    <table class="skillcheck-table">
      <tr class="skillcheck-row">
        <th class="skillcheck-actor"></th>
        <th class="skillcheck-fv">FV</th>
        <th class="skillcheck-mod">Mod</th>
        <th class="skillcheck-mod"></th>
        <th class="skillcheck-cl">CL</th>
      </tr>
      <tr class="skillcheck-row">
        <td class="skillcheck-actor">{{check.skill.parent.name}}</td>
        <td class="skillcheck-fv">{{fv}}</td>
        <td class="skillcheck-mod"><input id="mod" class="skillcheck-mod-input" type="number" value="{{mod}}" /></td>
        <td class="skillcheck-eq">=</td>
        <td class="skillcheck-cl" id="cl">{{check.cl}}</td>
      </tr>

    </table>

    <div id="result">

    </div>

    <button id="roll-button" type="button" data-action="roll">Slå</button>
  </div>
</form>