<div class="sheet-column">

    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
    <div class="sheet-row">
        <div class="info-image-frame">
            <div class="npc-image">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="100%" />
            </div>
        </div>
        <div class="sheet-column">
            <h2>Beskrivning</h2>
            <div class="info-description">
                {{editor system.bio.appearance target="system.bio.appearance" button=true owner=owner editable=editable}}
            </div>

        </div>
    </div>
    <div class="sheet-row">
        <div class="sheet-column grow">
            <h2>Noteringar</h2>
            {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>