<div class="expert-classic-sheet">

    <div class="sheet-column">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>

        <div class="sheet-row gaps">
            <div class="npc-image">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="100%" />
            </div>
            <div class="npc-abilities slim">

                <table>
                    <tr class="npc-ability">
                        <td class="npc-ability-name">KP</td>
                        <td class="npc-ability-value">{{system.health.value}} / {{system.health.max}}</td>
                    </tr>

                    {{#each system.abilities as |ability key|}}
                    <tr class="npc-ability">
                        <td class="npc-ability-name">{{key}}</td>
                        <td class="npc-ability-value"><input type="text" class="npc-input-value"
                                name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
                        </td>
                    </tr>
                    {{/each}}

                    <tr class="npc-ability">
                        <td class="npc-ability-name">SB</td>
                        <td class="npc-ability-value">{{system.sb}}</td>
                    </tr>
                </table>
            </div>

            <div class="npc-body">
                <table class="items-list npc-body-parts">
                    {{#each system.body as |part id|}}
                    <tr data-item-id="{{part._id}}" class="npc-body-part">
                        <td class="npc-body-part-name">{{part.name}}</td>
                        <td class="npc-body-part-armor">{{part.armor}}</td>
                        <td class="npc-body-part-abs">{{part.abs}}</td>
                        <td class="npc-body-part-kp">{{part.health.value}} </td>
                        <td class="npc-body-part-actions"><i class="fa-solid fa-square-ellipsis"></i></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="sheet-row">
            <div class="npc-skills slim">
                <table>
                    {{#each skills.list as |skill id|}}

                    <tr class="item" data-item-id="{{skill._id}}">
                        <td class="skill use-item" data-skill="{{skill._id}}"
                            data-item-id="{{skill._id}}">
                            {{skill.name}}
                        </td>
                        <td class="skill-fv" data-skill="{{skill._id}}">

                            <input type="text" class="expert-classic-input-value inline-edit" name="skill.system.fv"
                                value="{{skill.system.fv}}" data-dtype="Number" data-field="system.fv" />
                        </td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td>
                            <div class="add-skill"  data-title="Lägg till färdighet"  data-listType="skills">
                                <i class="fas fa-plus"></i>Lägg till färdighet
                            </div>
        
                        </td>

                    </tr>
                    </table>
            </div>
            <div class="npc-weapons grow">
                {{> "systems/dodexpert/templates/actor/parts/actor-weapons.html" weaponsList=weapons}}
            </div>
        </div>

        {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner
        editable=editable}}

    </div>

</div>