<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Färdighet" /></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <table>
      <tr>

        <td>Typ</td>
        <td> <select id="category" class="catgeory-selector" name="system.category" value="{{system.category}}">
            {{#select system.category}}
            <option value="LÄR">Lärdomsfärdigheter (LÄR)</option>
            <option value="STR">Stridsfärdigheter (STR)</option>
            <option value="KOM">Kommunikationsfärdigheter (KOM)</option>
            <option value="TJU">Tjuvfärdigheter (TJU)</option>
            <option value="UPF">Uppfattningsfärdigheter (UPF)</option>
            <option value="VIL">Vildmarksfärdigheter (VIL)</option>
            <option value="MAG">Magiskola (MAG)</option>
            <option value="SPR">Språk (SPR)</option>
            {{/select}}
          </select>
        </td>
      </tr>
      {{#ifeq system.category "MAG"}}
      <tr>

        <td>ID</td>
        <td> <input id="schoolId" type="text" name="system.schoolId" value="{{item.system.schoolId}}" />
        </td>
      </tr>
      <tr>
        {{/ifeq}}

      <tr>

        <td>Grundegenskap</td>
        <td> <select id="ability" name="system.ability" data-type="String">
            {{#select system.ability}}
            {{#each abilityList as |ability id|}}
            <option value="{{ability}}">{{ability}}</option>
            {{/each}}
            {{/select}}
          </select>
        </td>
      </tr>


        <td>Kostnad</td>
        <td> <input id="cost" type="number" name="system.cost" value="{{item.system.cost}}" />
        </td>
      </tr>
      <tr>

        <td>Kategori:</td>
        <td> <select id="type" class="skill-selector" name="system.type" value="{{item.system.type}}">
            {{#select system.type}}
            <option value="A">A-färdighet</option>
            <option value="B">B-färdighet (1-5)</option>
            {{/select}}
          </select>
        </td>
      </tr>

      <tr>

        <td>Baschans:</td>
        <td> <input id="bc" type="checkbox" name="system.bc" {{checked system.bc}}></td>
      </tr>

      <tr>

        <td>Specialisering</td>
        <td> <input id="bc" type="checkbox" name="system.specific" {{checked system.specific}}></td>
      </tr>

      <tr>

        <td>Sortering</td>
        <td> <input id="cost" type="number" name="system.sortorder" value="{{item.system.sortorder}}" />
        </td>
      </tr>
      <tr>

      {{!-- Attributes Tab --}}
    </table>
    {{editor system.description target="system.description" rollData=rollData button=true owner=owner
    editable=editable}}
  </section>
</form>